#container {
    position: absolute;
    top: 0;
    left: $sidebar-width;

    width: calc(100% - #{$sidebar-width});
    min-height: 100vh;

    background: #777;
}

@import "container_backgrounds";
