#sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: $sidebar-width;
    height: 100%;

    background: #333;
    color: #ccc;
    
    text-align: right;

    br {
        line-height: 60px;
    }

    #logo img {
        width: 100%;
        transition: 0.25s all;

        &:hover {
            transform: rotate(-30deg);
        }
    }

    #links a {
        display: block;
        padding: 10px 20px;
        color: #ccc;
        text-decoration: none;

        &:hover {
            background: rgba(85, 85, 85, 0.2);
        }
    }
}
