#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background: linear-gradient(to right, #333 0%, #333 60%, #2a2a2a 90%, #222 96%, #111 100%);
}

nav {
    text-align: right;

    hr {
        border: 1px solid rgba(17, 17, 17, 0.2);
    }

    a {
        display: block;
        color: #aaa;
        text-decoration: none;
        padding: 10px 24px;

        &:hover {
            background: rgba(85, 85, 85, 0.5);
        }

        &.logo {
            padding: 0;

            img {
                display: block;
                width: 200px;
                margin: 0 auto;
            }
        }
    }
}
